<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <carriers>
            <centraldofrete>
                <active>1</active>
                <sandbox>0</sandbox>
                <sallowspecific>0</sallowspecific>
                <model>Buzz\CentralDoFrete\Model\Carrier\CentralDoFrete</model>
                <name>Central do Frete</name>
                <title>Central do Frete</title>
                <token />
                <adddays>0</adddays>
                <debug>0</debug>
                <specificerrmsg>Central do Frete Shipping is not available for your area. Please contact us.</specificerrmsg>
            </centraldofrete>
        </carriers>
    </default>
</config>
